dbpath={{ mongodb_datadir_prefix }}
port={{ mongod_port }}
syslog=True
fork=True
rest=True
auth=True
directio=True
cacheSize={{ mongodb_cache_size }}
setParameter=defaultCompression={{ mongodb_default_compression }}
